.App {
  font-family: sans-serif;
  text-align: center;
  margin:auto;
  width: 800px;
  height: 100vh;
  font-size: 25px;
  padding-top: 10%;
}

.container {
  margin:auto;
  text-align: left;
} 

.dataForm{
  align-items:start;
  text-align: left;
}

.checkbox{
  transform : scale(2);
  margin:8px;
}
